/********************
 * Courier Prime
 ********************/

@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier Prime';
    src: url('/fonts/CourierPrime-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/********************
 * Lora
 ********************/

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-VariableFont_wght.woff2') format('woff2');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

/********************
 * Karla
 ********************/

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 1 999;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla-VariableFont_wght.woff2') format('woff2');
    font-weight: 1 999;
    font-style: normal;
    font-display: swap;
}

/********************
 * Nunito
 ********************/
/* @import url(http://fonts.googleapis.com/earlyaccess/nunitovfbeta.css); */
@font-face {
    font-family: 'Nunito VF Beta';
    src: url('/fonts/NunitoVFBeta.woff2') format('woff2');
    font-weight: 54 156;
    font-style: normal;
    font-display: swap;
}
